# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.less, source.scss, source.stylus":
	"filetypes-aacd":
		prefix: "filetypes-aacd"
		body: "content: '\\\\E076';"
	"filetypes-ai":
		prefix: "filetypes-ai"
		body: "content: '\\\\E061';"
	"filetypes-aif":
		prefix: "filetypes-aif"
		body: "content: '\\\\E030';"
	"filetypes-api":
		prefix: "filetypes-api"
		body: "content: '\\\\E134';"
	"filetypes-apk":
		prefix: "filetypes-apk"
		body: "content: '\\\\E081';"
	"filetypes-app":
		prefix: "filetypes-app"
		body: "content: '\\\\E077';"
	"filetypes-asf":
		prefix: "filetypes-asf"
		body: "content: '\\\\E041';"
	"filetypes-asp":
		prefix: "filetypes-asp"
		body: "content: '\\\\E093';"
	"filetypes-aspx":
		prefix: "filetypes-aspx"
		body: "content: '\\\\E097';"
	"filetypes-asx":
		prefix: "filetypes-asx"
		body: "content: '\\\\E037';"
	"filetypes-avi":
		prefix: "filetypes-avi"
		body: "content: '\\\\E036';"
	"filetypes-bak":
		prefix: "filetypes-bak"
		body: "content: '\\\\E124';"
	"filetypes-bat":
		prefix: "filetypes-bat"
		body: "content: '\\\\E080';"
	"filetypes-bin":
		prefix: "filetypes-bin"
		body: "content: '\\\\E120';"
	"filetypes-bmp":
		prefix: "filetypes-bmp"
		body: "content: '\\\\E056';"
	"filetypes-bpg":
		prefix: "filetypes-bpg"
		body: "content: '\\\\E137';"
	"filetypes-cbr":
		prefix: "filetypes-cbr"
		body: "content: '\\\\E116';"
	"filetypes-cer":
		prefix: "filetypes-cer"
		body: "content: '\\\\E094';"
	"filetypes-cfg":
		prefix: "filetypes-cfg"
		body: "content: '\\\\E128';"
	"filetypes-cfm":
		prefix: "filetypes-cfm"
		body: "content: '\\\\E096';"
	"filetypes-cgi":
		prefix: "filetypes-cgi"
		body: "content: '\\\\E086';"
	"filetypes-com":
		prefix: "filetypes-com"
		body: "content: '\\\\E079';"
	"filetypes-csr":
		prefix: "filetypes-csr"
		body: "content: '\\\\E099';"
	"filetypes-css":
		prefix: "filetypes-css"
		body: "content: '\\\\E087';"
	"filetypes-csv":
		prefix: "filetypes-csv"
		body: "content: '\\\\E012';"
	"filetypes-cue":
		prefix: "filetypes-cue"
		body: "content: '\\\\E119';"
	"filetypes-dat":
		prefix: "filetypes-dat"
		body: "content: '\\\\E013';"
	"filetypes-db":
		prefix: "filetypes-db"
		body: "content: '\\\\E071';"
	"filetypes-dbf":
		prefix: "filetypes-dbf"
		body: "content: '\\\\E072';"
	"filetypes-dds":
		prefix: "filetypes-dds"
		body: "content: '\\\\E060';"
	"filetypes-deb":
		prefix: "filetypes-deb"
		body: "content: '\\\\E112';"
	"filetypes-dmg":
		prefix: "filetypes-dmg"
		body: "content: '\\\\E118';"
	"filetypes-doc":
		prefix: "filetypes-doc"
		body: "content: '\\\\E002';"
	"filetypes-docx":
		prefix: "filetypes-docx"
		body: "content: '\\\\E010';"
	"filetypes-e-3g2":
		prefix: "filetypes-e-3g2"
		body: "content: '\\\\E039';"
	"filetypes-e-3gp":
		prefix: "filetypes-e-3gp"
		body: "content: '\\\\E034';"
	"filetypes-e-7z":
		prefix: "filetypes-e-7z"
		body: "content: '\\\\E113';"
	"filetypes-eot":
		prefix: "filetypes-eot"
		body: "content: '\\\\E105';"
	"filetypes-eps":
		prefix: "filetypes-eps"
		body: "content: '\\\\E062';"
	"filetypes-exe":
		prefix: "filetypes-exe"
		body: "content: '\\\\E078';"
	"filetypes-flac":
		prefix: "filetypes-flac"
		body: "content: '\\\\E138';"
	"filetypes-flv":
		prefix: "filetypes-flv"
		body: "content: '\\\\E047';"
	"filetypes-fnt":
		prefix: "filetypes-fnt"
		body: "content: '\\\\E104';"
	"filetypes-font":
		prefix: "filetypes-font"
		body: "content: '\\\\E103';"
	"filetypes-gbr":
		prefix: "filetypes-gbr"
		body: "content: '\\\\E022';"
	"filetypes-ged":
		prefix: "filetypes-ged"
		body: "content: '\\\\E023';"
	"filetypes-gif":
		prefix: "filetypes-gif"
		body: "content: '\\\\E055';"
	"filetypes-gz":
		prefix: "filetypes-gz"
		body: "content: '\\\\E117';"
	"filetypes-hdf":
		prefix: "filetypes-hdf"
		body: "content: '\\\\E122';"
	"filetypes-hsf":
		prefix: "filetypes-hsf"
		body: "content: '\\\\E083';"
	"filetypes-htm":
		prefix: "filetypes-htm"
		body: "content: '\\\\E091';"
	"filetypes-html":
		prefix: "filetypes-html"
		body: "content: '\\\\E092';"
	"filetypes-ico":
		prefix: "filetypes-ico"
		body: "content: '\\\\E135';"
	"filetypes-ics":
		prefix: "filetypes-ics"
		body: "content: '\\\\E126';"
	"filetypes-iff":
		prefix: "filetypes-iff"
		body: "content: '\\\\E029';"
	"filetypes-indd":
		prefix: "filetypes-indd"
		body: "content: '\\\\E067';"
	"filetypes-ini":
		prefix: "filetypes-ini"
		body: "content: '\\\\E129';"
	"filetypes-iso":
		prefix: "filetypes-iso"
		body: "content: '\\\\E121';"
	"filetypes-jar":
		prefix: "filetypes-jar"
		body: "content: '\\\\E082';"
	"filetypes-jpg":
		prefix: "filetypes-jpg"
		body: "content: '\\\\E052';"
	"filetypes-js":
		prefix: "filetypes-js"
		body: "content: '\\\\E088';"
	"filetypes-json":
		prefix: "filetypes-json"
		body: "content: '\\\\E131';"
	"filetypes-jsp":
		prefix: "filetypes-jsp"
		body: "content: '\\\\E095';"
	"filetypes-key":
		prefix: "filetypes-key"
		body: "content: '\\\\E018';"
	"filetypes-less":
		prefix: "filetypes-less"
		body: "content: '\\\\E100';"
	"filetypes-log":
		prefix: "filetypes-log"
		body: "content: '\\\\E004';"
	"filetypes-m3v":
		prefix: "filetypes-m3v"
		body: "content: '\\\\E033';"
	"filetypes-m4a":
		prefix: "filetypes-m4a"
		body: "content: '\\\\E025';"
	"filetypes-m4v":
		prefix: "filetypes-m4v"
		body: "content: '\\\\E046';"
	"filetypes-mdb":
		prefix: "filetypes-mdb"
		body: "content: '\\\\E073';"
	"filetypes-mid":
		prefix: "filetypes-mid"
		body: "content: '\\\\E032';"
	"filetypes-mov":
		prefix: "filetypes-mov"
		body: "content: '\\\\E044';"
	"filetypes-mp3":
		prefix: "filetypes-mp3"
		body: "content: '\\\\E024';"
	"filetypes-mp4":
		prefix: "filetypes-mp4"
		body: "content: '\\\\E038';"
	"filetypes-mpa":
		prefix: "filetypes-mpa"
		body: "content: '\\\\E028';"
	"filetypes-mpg":
		prefix: "filetypes-mpg"
		body: "content: '\\\\E040';"
	"filetypes-msg":
		prefix: "filetypes-msg"
		body: "content: '\\\\E006';"
	"filetypes-msi":
		prefix: "filetypes-msi"
		body: "content: '\\\\E127';"
	"filetypes-ogg":
		prefix: "filetypes-ogg"
		body: "content: '\\\\E139';"
	"filetypes-otf":
		prefix: "filetypes-otf"
		body: "content: '\\\\E101';"
	"filetypes-page":
		prefix: "filetypes-page"
		body: "content: '\\\\E011';"
	"filetypes-pct":
		prefix: "filetypes-pct"
		body: "content: '\\\\E066';"
	"filetypes-pdb":
		prefix: "filetypes-pdb"
		body: "content: '\\\\E074';"
	"filetypes-pdf":
		prefix: "filetypes-pdf"
		body: "content: '\\\\E065';"
	"filetypes-php":
		prefix: "filetypes-php"
		body: "content: '\\\\E089';"
	"filetypes-pif":
		prefix: "filetypes-pif"
		body: "content: '\\\\E084';"
	"filetypes-pkg":
		prefix: "filetypes-pkg"
		body: "content: '\\\\E114';"
	"filetypes-png":
		prefix: "filetypes-png"
		body: "content: '\\\\E049';"
	"filetypes-pps":
		prefix: "filetypes-pps"
		body: "content: '\\\\E017';"
	"filetypes-ppt":
		prefix: "filetypes-ppt"
		body: "content: '\\\\E019';"
	"filetypes-pptx":
		prefix: "filetypes-pptx"
		body: "content: '\\\\E020';"
	"filetypes-prf":
		prefix: "filetypes-prf"
		body: "content: '\\\\E130';"
	"filetypes-ps":
		prefix: "filetypes-ps"
		body: "content: '\\\\E063';"
	"filetypes-psd":
		prefix: "filetypes-psd"
		body: "content: '\\\\E050';"
	"filetypes-psp":
		prefix: "filetypes-psp"
		body: "content: '\\\\E051';"
	"filetypes-ra":
		prefix: "filetypes-ra"
		body: "content: '\\\\E031';"
	"filetypes-rar":
		prefix: "filetypes-rar"
		body: "content: '\\\\E109';"
	"filetypes-rm":
		prefix: "filetypes-rm"
		body: "content: '\\\\E048';"
	"filetypes-rpm":
		prefix: "filetypes-rpm"
		body: "content: '\\\\E115';"
	"filetypes-rss":
		prefix: "filetypes-rss"
		body: "content: '\\\\E098';"
	"filetypes-rtf":
		prefix: "filetypes-rtf"
		body: "content: '\\\\E003';"
	"filetypes-sdf":
		prefix: "filetypes-sdf"
		body: "content: '\\\\E021';"
	"filetypes-site":
		prefix: "filetypes-site"
		body: "content: '\\\\E132';"
	"filetypes-sitx":
		prefix: "filetypes-sitx"
		body: "content: '\\\\E111';"
	"filetypes-sql":
		prefix: "filetypes-sql"
		body: "content: '\\\\E075';"
	"filetypes-srt":
		prefix: "filetypes-srt"
		body: "content: '\\\\E045';"
	"filetypes-svg":
		prefix: "filetypes-svg"
		body: "content: '\\\\E064';"
	"filetypes-swf":
		prefix: "filetypes-swf"
		body: "content: '\\\\E035';"
	"filetypes-tar":
		prefix: "filetypes-tar"
		body: "content: '\\\\E014';"
	"filetypes-targ":
		prefix: "filetypes-targ"
		body: "content: '\\\\E110';"
	"filetypes-tex":
		prefix: "filetypes-tex"
		body: "content: '\\\\E005';"
	"filetypes-text":
		prefix: "filetypes-text"
		body: "content: '\\\\E007';"
	"filetypes-tga":
		prefix: "filetypes-tga"
		body: "content: '\\\\E057';"
	"filetypes-thm":
		prefix: "filetypes-thm"
		body: "content: '\\\\E058';"
	"filetypes-tif":
		prefix: "filetypes-tif"
		body: "content: '\\\\E053';"
	"filetypes-tiff":
		prefix: "filetypes-tiff"
		body: "content: '\\\\E054';"
	"filetypes-tmp":
		prefix: "filetypes-tmp"
		body: "content: '\\\\E125';"
	"filetypes-ttf":
		prefix: "filetypes-ttf"
		body: "content: '\\\\E102';"
	"filetypes-txt":
		prefix: "filetypes-txt"
		body: "content: '\\\\E001';"
	"filetypes-unknown":
		prefix: "filetypes-unknown"
		body: "content: '\\\\E140';"
	"filetypes-vb":
		prefix: "filetypes-vb"
		body: "content: '\\\\E085';"
	"filetypes-vcd":
		prefix: "filetypes-vcd"
		body: "content: '\\\\E123';"
	"filetypes-vcf":
		prefix: "filetypes-vcf"
		body: "content: '\\\\E016';"
	"filetypes-vob":
		prefix: "filetypes-vob"
		body: "content: '\\\\E042';"
	"filetypes-waw":
		prefix: "filetypes-waw"
		body: "content: '\\\\E026';"
	"filetypes-webp":
		prefix: "filetypes-webp"
		body: "content: '\\\\E136';"
	"filetypes-wma":
		prefix: "filetypes-wma"
		body: "content: '\\\\E027';"
	"filetypes-wmv":
		prefix: "filetypes-wmv"
		body: "content: '\\\\E043';"
	"filetypes-woff":
		prefix: "filetypes-woff"
		body: "content: '\\\\E106';"
	"filetypes-wpd":
		prefix: "filetypes-wpd"
		body: "content: '\\\\E008';"
	"filetypes-wps":
		prefix: "filetypes-wps"
		body: "content: '\\\\E009';"
	"filetypes-xap":
		prefix: "filetypes-xap"
		body: "content: '\\\\E133';"
	"filetypes-xhtml":
		prefix: "filetypes-xhtml"
		body: "content: '\\\\E090';"
	"filetypes-xlr":
		prefix: "filetypes-xlr"
		body: "content: '\\\\E068';"
	"filetypes-xls":
		prefix: "filetypes-xls"
		body: "content: '\\\\E069';"
	"filetypes-xlsx":
		prefix: "filetypes-xlsx"
		body: "content: '\\\\E070';"
	"filetypes-xml":
		prefix: "filetypes-xml"
		body: "content: '\\\\E015';"
	"filetypes-yuv":
		prefix: "filetypes-yuv"
		body: "content: '\\\\E059';"
	"filetypes-zip":
		prefix: "filetypes-zip"
		body: "content: '\\\\E107';"
	"filetypes-zipx":
		prefix: "filetypes-zipx"
		body: "content: '\\\\E108';"
