# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.less, source.scss, source.stylus":
  "halflings-adjust":
    prefix: "halflings-adjust"
    body: "content: '\\\\E063';"
  "halflings-alert":
    prefix: "halflings-alert"
    body: "content: '\\\\E209';"
  "halflings-align-center":
    prefix: "halflings-align-center"
    body: "content: '\\\\E053';"
  "halflings-align-justify":
    prefix: "halflings-align-justify"
    body: "content: '\\\\E055';"
  "halflings-align-left":
    prefix: "halflings-align-left"
    body: "content: '\\\\E052';"
  "halflings-align-right":
    prefix: "halflings-align-right"
    body: "content: '\\\\E054';"
  "halflings-apple":
    prefix: "halflings-apple"
    body: "content: '\\\\E220';"
  "halflings-arrow-down":
    prefix: "halflings-arrow-down"
    body: "content: '\\\\E094';"
  "halflings-arrow-left":
    prefix: "halflings-arrow-left"
    body: "content: '\\\\E091';"
  "halflings-arrow-right":
    prefix: "halflings-arrow-right"
    body: "content: '\\\\E092';"
  "halflings-arrow-up":
    prefix: "halflings-arrow-up"
    body: "content: '\\\\E093';"
  "halflings-asterisk":
    prefix: "halflings-asterisk"
    body: "content: '\\\\E100';"
  "halflings-baby-formula":
    prefix: "halflings-baby-formula"
    body: "content: '\\\\E216';"
  "halflings-backward":
    prefix: "halflings-backward"
    body: "content: '\\\\E071';"
  "halflings-ban-circle":
    prefix: "halflings-ban-circle"
    body: "content: '\\\\E090';"
  "halflings-barcode":
    prefix: "halflings-barcode"
    body: "content: '\\\\E040';"
  "halflings-battery-10":
    prefix: "halflings-battery-10"
    body: "content: '\\\\E292';"
  "halflings-battery-25":
    prefix: "halflings-battery-25"
    body: "content: '\\\\E291';"
  "halflings-battery-50":
    prefix: "halflings-battery-50"
    body: "content: '\\\\E290';"
  "halflings-battery-75":
    prefix: "halflings-battery-75"
    body: "content: '\\\\E289';"
  "halflings-battery-charging":
    prefix: "halflings-battery-charging"
    body: "content: '\\\\E287';"
  "halflings-battery-full":
    prefix: "halflings-battery-full"
    body: "content: '\\\\E288';"
  "halflings-bed":
    prefix: "halflings-bed"
    body: "content: '\\\\E219';"
  "halflings-bell":
    prefix: "halflings-bell"
    body: "content: '\\\\E123';"
  "halflings-bishop":
    prefix: "halflings-bishop"
    body: "content: '\\\\E214';"
  "halflings-bitcoin":
    prefix: "halflings-bitcoin"
    body: "content: '\\\\E227';"
  "halflings-blackboard":
    prefix: "halflings-blackboard"
    body: "content: '\\\\E218';"
  "halflings-bold":
    prefix: "halflings-bold"
    body: "content: '\\\\E048';"
  "halflings-book":
    prefix: "halflings-book"
    body: "content: '\\\\E043';"
  "halflings-bookmark":
    prefix: "halflings-bookmark"
    body: "content: '\\\\E044';"
  "halflings-briefcase":
    prefix: "halflings-briefcase"
    body: "content: '\\\\E139';"
  "halflings-bug":
    prefix: "halflings-bug"
    body: "content: '\\\\E281';"
  "halflings-building":
    prefix: "halflings-building"
    body: "content: '\\\\E261';"
  "halflings-bullhorn":
    prefix: "halflings-bullhorn"
    body: "content: '\\\\E122';"
  "halflings-calendar":
    prefix: "halflings-calendar"
    body: "content: '\\\\E109';"
  "halflings-camera":
    prefix: "halflings-camera"
    body: "content: '\\\\E046';"
  "halflings-cd":
    prefix: "halflings-cd"
    body: "content: '\\\\E201';"
  "halflings-certificate":
    prefix: "halflings-certificate"
    body: "content: '\\\\E124';"
  "halflings-check":
    prefix: "halflings-check"
    body: "content: '\\\\E067';"
  "halflings-chevron-down":
    prefix: "halflings-chevron-down"
    body: "content: '\\\\E114';"
  "halflings-chevron-left":
    prefix: "halflings-chevron-left"
    body: "content: '\\\\E079';"
  "halflings-chevron-right":
    prefix: "halflings-chevron-right"
    body: "content: '\\\\E080';"
  "halflings-chevron-up":
    prefix: "halflings-chevron-up"
    body: "content: '\\\\E113';"
  "halflings-circle-arrow-down":
    prefix: "halflings-circle-arrow-down"
    body: "content: '\\\\E134';"
  "halflings-circle-arrow-left":
    prefix: "halflings-circle-arrow-left"
    body: "content: '\\\\E132';"
  "halflings-circle-arrow-right":
    prefix: "halflings-circle-arrow-right"
    body: "content: '\\\\E131';"
  "halflings-circle-arrow-top":
    prefix: "halflings-circle-arrow-top"
    body: "content: '\\\\E133';"
  "halflings-cloud-download":
    prefix: "halflings-cloud-download"
    body: "content: '\\\\E197';"
  "halflings-cloud-upload":
    prefix: "halflings-cloud-upload"
    body: "content: '\\\\E198';"
  "halflings-cloud":
    prefix: "halflings-cloud"
    body: "content: '\\\\E196';"
  "halflings-coffee-cup":
    prefix: "halflings-coffee-cup"
    body: "content: '\\\\E278';"
  "halflings-cog":
    prefix: "halflings-cog"
    body: "content: '\\\\E019';"
  "halflings-collapse-top":
    prefix: "halflings-collapse-top"
    body: "content: '\\\\E160';"
  "halflings-collapse":
    prefix: "halflings-collapse"
    body: "content: '\\\\E159';"
  "halflings-comments":
    prefix: "halflings-comments"
    body: "content: '\\\\E111';"
  "halflings-compressed":
    prefix: "halflings-compressed"
    body: "content: '\\\\E181';"
  "halflings-copy":
    prefix: "halflings-copy"
    body: "content: '\\\\E205';"
  "halflings-copyright-mark":
    prefix: "halflings-copyright-mark"
    body: "content: '\\\\E194';"
  "halflings-credit-card":
    prefix: "halflings-credit-card"
    body: "content: '\\\\E177';"
  "halflings-cutlery":
    prefix: "halflings-cutlery"
    body: "content: '\\\\E179';"
  "halflings-dashboard":
    prefix: "halflings-dashboard"
    body: "content: '\\\\E141';"
  "halflings-direction-down":
    prefix: "halflings-direction-down"
    body: "content: '\\\\E275';"
  "halflings-direction-left":
    prefix: "halflings-direction-left"
    body: "content: '\\\\E274';"
  "halflings-direction-right":
    prefix: "halflings-direction-right"
    body: "content: '\\\\E273';"
  "halflings-direction-up":
    prefix: "halflings-direction-up"
    body: "content: '\\\\E276';"
  "halflings-direction":
    prefix: "halflings-direction"
    body: "content: '\\\\E283';"
  "halflings-directions":
    prefix: "halflings-directions"
    body: "content: '\\\\E265';"
  "halflings-display":
    prefix: "halflings-display"
    body: "content: '\\\\E282';"
  "halflings-door":
    prefix: "halflings-door"
    body: "content: '\\\\E207';"
  "halflings-download-alt":
    prefix: "halflings-download-alt"
    body: "content: '\\\\E025';"
  "halflings-download":
    prefix: "halflings-download"
    body: "content: '\\\\E026';"
  "halflings-duplicate":
    prefix: "halflings-duplicate"
    body: "content: '\\\\E224';"
  "halflings-earphone":
    prefix: "halflings-earphone"
    body: "content: '\\\\E182';"
  "halflings-edit":
    prefix: "halflings-edit"
    body: "content: '\\\\E065';"
  "halflings-education":
    prefix: "halflings-education"
    body: "content: '\\\\E233';"
  "halflings-eject":
    prefix: "halflings-eject"
    body: "content: '\\\\E078';"
  "halflings-envelope":
    prefix: "halflings-envelope"
    body: "content: '\\\\E004';"
  "halflings-equalizer":
    prefix: "halflings-equalizer"
    body: "content: '\\\\E210';"
  "halflings-erase":
    prefix: "halflings-erase"
    body: "content: '\\\\E221';"
  "halflings-euro":
    prefix: "halflings-euro"
    body: "content: '\\\\E147';"
  "halflings-exclamation-sign":
    prefix: "halflings-exclamation-sign"
    body: "content: '\\\\E101';"
  "halflings-expand":
    prefix: "halflings-expand"
    body: "content: '\\\\E158';"
  "halflings-export":
    prefix: "halflings-export"
    body: "content: '\\\\E170';"
  "halflings-eye-close":
    prefix: "halflings-eye-close"
    body: "content: '\\\\E106';"
  "halflings-eye-open":
    prefix: "halflings-eye-open"
    body: "content: '\\\\E105';"
  "halflings-facetime-video":
    prefix: "halflings-facetime-video"
    body: "content: '\\\\E059';"
  "halflings-fast-backward":
    prefix: "halflings-fast-backward"
    body: "content: '\\\\E070';"
  "halflings-fast-forward":
    prefix: "halflings-fast-forward"
    body: "content: '\\\\E076';"
  "halflings-file":
    prefix: "halflings-file"
    body: "content: '\\\\E022';"
  "halflings-film":
    prefix: "halflings-film"
    body: "content: '\\\\E009';"
  "halflings-filter":
    prefix: "halflings-filter"
    body: "content: '\\\\E138';"
  "halflings-fire":
    prefix: "halflings-fire"
    body: "content: '\\\\E104';"
  "halflings-flag":
    prefix: "halflings-flag"
    body: "content: '\\\\E034';"
  "halflings-flash":
    prefix: "halflings-flash"
    body: "content: '\\\\E162';"
  "halflings-floppy-disk":
    prefix: "halflings-floppy-disk"
    body: "content: '\\\\E172';"
  "halflings-floppy-open":
    prefix: "halflings-floppy-open"
    body: "content: '\\\\E176';"
  "halflings-floppy-remove":
    prefix: "halflings-floppy-remove"
    body: "content: '\\\\E174';"
  "halflings-floppy-save":
    prefix: "halflings-floppy-save"
    body: "content: '\\\\E175';"
  "halflings-floppy-saved":
    prefix: "halflings-floppy-saved"
    body: "content: '\\\\E173';"
  "halflings-folder-close":
    prefix: "halflings-folder-close"
    body: "content: '\\\\E117';"
  "halflings-folder-open":
    prefix: "halflings-folder-open"
    body: "content: '\\\\E118';"
  "halflings-font":
    prefix: "halflings-font"
    body: "content: '\\\\E047';"
  "halflings-forward":
    prefix: "halflings-forward"
    body: "content: '\\\\E075';"
  "halflings-fullscreen":
    prefix: "halflings-fullscreen"
    body: "content: '\\\\E140';"
  "halflings-gas":
    prefix: "halflings-gas"
    body: "content: '\\\\E266';"
  "halflings-gbp":
    prefix: "halflings-gbp"
    body: "content: '\\\\E149';"
  "halflings-gift":
    prefix: "halflings-gift"
    body: "content: '\\\\E102';"
  "halflings-glass":
    prefix: "halflings-glass"
    body: "content: '\\\\E001';"
  "halflings-globe":
    prefix: "halflings-globe"
    body: "content: '\\\\E135';"
  "halflings-grain":
    prefix: "halflings-grain"
    body: "content: '\\\\E239';"
  "halflings-group":
    prefix: "halflings-group"
    body: "content: '\\\\E284';"
  "halflings-hand-down":
    prefix: "halflings-hand-down"
    body: "content: '\\\\E130';"
  "halflings-hand-left":
    prefix: "halflings-hand-left"
    body: "content: '\\\\E128';"
  "halflings-hand-right":
    prefix: "halflings-hand-right"
    body: "content: '\\\\E127';"
  "halflings-hand-top":
    prefix: "halflings-hand-top"
    body: "content: '\\\\E129';"
  "halflings-hash":
    prefix: "halflings-hash"
    body: "content: '\\\\E264';"
  "halflings-hd-video":
    prefix: "halflings-hd-video"
    body: "content: '\\\\E187';"
  "halflings-hdd":
    prefix: "halflings-hdd"
    body: "content: '\\\\E121';"
  "halflings-header":
    prefix: "halflings-header"
    body: "content: '\\\\E180';"
  "halflings-headphones":
    prefix: "halflings-headphones"
    body: "content: '\\\\E035';"
  "halflings-heart-empty":
    prefix: "halflings-heart-empty"
    body: "content: '\\\\E143';"
  "halflings-heart":
    prefix: "halflings-heart"
    body: "content: '\\\\E005';"
  "halflings-home":
    prefix: "halflings-home"
    body: "content: '\\\\E021';"
  "halflings-hourglass":
    prefix: "halflings-hourglass"
    body: "content: '\\\\E222';"
  "halflings-ice-lolly-tasted":
    prefix: "halflings-ice-lolly-tasted"
    body: "content: '\\\\E232';"
  "halflings-ice-lolly":
    prefix: "halflings-ice-lolly"
    body: "content: '\\\\E231';"
  "halflings-import":
    prefix: "halflings-import"
    body: "content: '\\\\E169';"
  "halflings-inbox":
    prefix: "halflings-inbox"
    body: "content: '\\\\E028';"
  "halflings-indent-left":
    prefix: "halflings-indent-left"
    body: "content: '\\\\E057';"
  "halflings-indent-right":
    prefix: "halflings-indent-right"
    body: "content: '\\\\E058';"
  "halflings-info-sign":
    prefix: "halflings-info-sign"
    body: "content: '\\\\E086';"
  "halflings-italic":
    prefix: "halflings-italic"
    body: "content: '\\\\E049';"
  "halflings-key":
    prefix: "halflings-key"
    body: "content: '\\\\E208';"
  "halflings-king":
    prefix: "halflings-king"
    body: "content: '\\\\E211';"
  "halflings-knight":
    prefix: "halflings-knight"
    body: "content: '\\\\E215';"
  "halflings-lamp":
    prefix: "halflings-lamp"
    body: "content: '\\\\E223';"
  "halflings-leaf":
    prefix: "halflings-leaf"
    body: "content: '\\\\E103';"
  "halflings-level-up":
    prefix: "halflings-level-up"
    body: "content: '\\\\E204';"
  "halflings-link":
    prefix: "halflings-link"
    body: "content: '\\\\E144';"
  "halflings-list-alt":
    prefix: "halflings-list-alt"
    body: "content: '\\\\E032';"
  "halflings-list-numbered":
    prefix: "halflings-list-numbered"
    body: "content: '\\\\E296';"
  "halflings-list-plus":
    prefix: "halflings-list-plus"
    body: "content: '\\\\E298';"
  "halflings-list":
    prefix: "halflings-list"
    body: "content: '\\\\E056';"
  "halflings-lock":
    prefix: "halflings-lock"
    body: "content: '\\\\E033';"
  "halflings-log-in":
    prefix: "halflings-log-in"
    body: "content: '\\\\E161';"
  "halflings-log-out":
    prefix: "halflings-log-out"
    body: "content: '\\\\E163';"
  "halflings-magnet":
    prefix: "halflings-magnet"
    body: "content: '\\\\E112';"
  "halflings-map-marker":
    prefix: "halflings-map-marker"
    body: "content: '\\\\E062';"
  "halflings-menu-down":
    prefix: "halflings-menu-down"
    body: "content: '\\\\E259';"
  "halflings-menu-hamburger":
    prefix: "halflings-menu-hamburger"
    body: "content: '\\\\E236';"
  "halflings-menu-left":
    prefix: "halflings-menu-left"
    body: "content: '\\\\E257';"
  "halflings-menu-right":
    prefix: "halflings-menu-right"
    body: "content: '\\\\E258';"
  "halflings-menu-up":
    prefix: "halflings-menu-up"
    body: "content: '\\\\E260';"
  "halflings-minus-sign":
    prefix: "halflings-minus-sign"
    body: "content: '\\\\E082';"
  "halflings-minus":
    prefix: "halflings-minus"
    body: "content: '\\\\E099';"
  "halflings-modal-window":
    prefix: "halflings-modal-window"
    body: "content: '\\\\E237';"
  "halflings-move-square":
    prefix: "halflings-move-square"
    body: "content: '\\\\E280';"
  "halflings-move":
    prefix: "halflings-move"
    body: "content: '\\\\E068';"
  "halflings-music":
    prefix: "halflings-music"
    body: "content: '\\\\E002';"
  "halflings-new-window":
    prefix: "halflings-new-window"
    body: "content: '\\\\E164';"
  "halflings-note-empty":
    prefix: "halflings-note-empty"
    body: "content: '\\\\E271';"
  "halflings-note":
    prefix: "halflings-note"
    body: "content: '\\\\E272';"
  "halflings-object-align-bottom":
    prefix: "halflings-object-align-bottom"
    body: "content: '\\\\E245';"
  "halflings-object-align-horizontal":
    prefix: "halflings-object-align-horizontal"
    body: "content: '\\\\E246';"
  "halflings-object-align-left":
    prefix: "halflings-object-align-left"
    body: "content: '\\\\E247';"
  "halflings-object-align-right":
    prefix: "halflings-object-align-right"
    body: "content: '\\\\E249';"
  "halflings-object-align-top":
    prefix: "halflings-object-align-top"
    body: "content: '\\\\E244';"
  "halflings-object-align-vertical":
    prefix: "halflings-object-align-vertical"
    body: "content: '\\\\E248';"
  "halflings-off":
    prefix: "halflings-off"
    body: "content: '\\\\E017';"
  "halflings-oil":
    prefix: "halflings-oil"
    body: "content: '\\\\E238';"
  "halflings-ok-circle":
    prefix: "halflings-ok-circle"
    body: "content: '\\\\E089';"
  "halflings-ok-sign":
    prefix: "halflings-ok-sign"
    body: "content: '\\\\E084';"
  "halflings-ok":
    prefix: "halflings-ok"
    body: "content: '\\\\E013';"
  "halflings-open-file":
    prefix: "halflings-open-file"
    body: "content: '\\\\E203';"
  "halflings-open":
    prefix: "halflings-open"
    body: "content: '\\\\E167';"
  "halflings-option-horizontal":
    prefix: "halflings-option-horizontal"
    body: "content: '\\\\E234';"
  "halflings-option-vertical":
    prefix: "halflings-option-vertical"
    body: "content: '\\\\E235';"
  "halflings-paired":
    prefix: "halflings-paired"
    body: "content: '\\\\E293';"
  "halflings-paperclip":
    prefix: "halflings-paperclip"
    body: "content: '\\\\E142';"
  "halflings-paragraph":
    prefix: "halflings-paragraph"
    body: "content: '\\\\E297';"
  "halflings-parking":
    prefix: "halflings-parking"
    body: "content: '\\\\E277';"
  "halflings-paste":
    prefix: "halflings-paste"
    body: "content: '\\\\E206';"
  "halflings-pause":
    prefix: "halflings-pause"
    body: "content: '\\\\E073';"
  "halflings-pawn":
    prefix: "halflings-pawn"
    body: "content: '\\\\E213';"
  "halflings-pencil":
    prefix: "halflings-pencil"
    body: "content: '\\\\E061';"
  "halflings-phone-alt":
    prefix: "halflings-phone-alt"
    body: "content: '\\\\E183';"
  "halflings-phone":
    prefix: "halflings-phone"
    body: "content: '\\\\E145';"
  "halflings-picture":
    prefix: "halflings-picture"
    body: "content: '\\\\E060';"
  "halflings-piggy-bank":
    prefix: "halflings-piggy-bank"
    body: "content: '\\\\E225';"
  "halflings-plane":
    prefix: "halflings-plane"
    body: "content: '\\\\E108';"
  "halflings-play-circle":
    prefix: "halflings-play-circle"
    body: "content: '\\\\E029';"
  "halflings-play":
    prefix: "halflings-play"
    body: "content: '\\\\E072';"
  "halflings-plus-sign":
    prefix: "halflings-plus-sign"
    body: "content: '\\\\E081';"
  "halflings-plus":
    prefix: "halflings-plus"
    body: "content: '\\\\E098';"
  "halflings-print":
    prefix: "halflings-print"
    body: "content: '\\\\E045';"
  "halflings-pushpin":
    prefix: "halflings-pushpin"
    body: "content: '\\\\E146';"
  "halflings-qrcode":
    prefix: "halflings-qrcode"
    body: "content: '\\\\E039';"
  "halflings-queen":
    prefix: "halflings-queen"
    body: "content: '\\\\E212';"
  "halflings-question-sign":
    prefix: "halflings-question-sign"
    body: "content: '\\\\E085';"
  "halflings-random":
    prefix: "halflings-random"
    body: "content: '\\\\E110';"
  "halflings-record-empty":
    prefix: "halflings-record-empty"
    body: "content: '\\\\E279';"
  "halflings-record":
    prefix: "halflings-record"
    body: "content: '\\\\E165';"
  "halflings-reflect-x":
    prefix: "halflings-reflect-x"
    body: "content: '\\\\E286';"
  "halflings-reflect-y":
    prefix: "halflings-reflect-y"
    body: "content: '\\\\E285';"
  "halflings-refresh":
    prefix: "halflings-refresh"
    body: "content: '\\\\E031';"
  "halflings-registration-mark":
    prefix: "halflings-registration-mark"
    body: "content: '\\\\E195';"
  "halflings-remove-circle":
    prefix: "halflings-remove-circle"
    body: "content: '\\\\E088';"
  "halflings-remove-sign":
    prefix: "halflings-remove-sign"
    body: "content: '\\\\E083';"
  "halflings-remove":
    prefix: "halflings-remove"
    body: "content: '\\\\E014';"
  "halflings-repeat":
    prefix: "halflings-repeat"
    body: "content: '\\\\E030';"
  "halflings-resize-full":
    prefix: "halflings-resize-full"
    body: "content: '\\\\E096';"
  "halflings-resize-horizontal":
    prefix: "halflings-resize-horizontal"
    body: "content: '\\\\E120';"
  "halflings-resize-small":
    prefix: "halflings-resize-small"
    body: "content: '\\\\E097';"
  "halflings-resize-vertical":
    prefix: "halflings-resize-vertical"
    body: "content: '\\\\E119';"
  "halflings-retweet":
    prefix: "halflings-retweet"
    body: "content: '\\\\E115';"
  "halflings-road":
    prefix: "halflings-road"
    body: "content: '\\\\E024';"
  "halflings-rotate-left":
    prefix: "halflings-rotate-left"
    body: "content: '\\\\E295';"
  "halflings-rotate-right":
    prefix: "halflings-rotate-right"
    body: "content: '\\\\E294';"
  "halflings-ruble":
    prefix: "halflings-ruble"
    body: "content: '\\\\E229';"
  "halflings-save-file":
    prefix: "halflings-save-file"
    body: "content: '\\\\E202';"
  "halflings-save":
    prefix: "halflings-save"
    body: "content: '\\\\E166';"
  "halflings-saved":
    prefix: "halflings-saved"
    body: "content: '\\\\E168';"
  "halflings-scale":
    prefix: "halflings-scale"
    body: "content: '\\\\E230';"
  "halflings-scissors":
    prefix: "halflings-scissors"
    body: "content: '\\\\E226';"
  "halflings-screenshot":
    prefix: "halflings-screenshot"
    body: "content: '\\\\E087';"
  "halflings-sd-video":
    prefix: "halflings-sd-video"
    body: "content: '\\\\E186';"
  "halflings-search":
    prefix: "halflings-search"
    body: "content: '\\\\E003';"
  "halflings-selectbox":
    prefix: "halflings-selectbox"
    body: "content: '\\\\E269';"
  "halflings-send":
    prefix: "halflings-send"
    body: "content: '\\\\E171';"
  "halflings-share-alt":
    prefix: "halflings-share-alt"
    body: "content: '\\\\E095';"
  "halflings-share":
    prefix: "halflings-share"
    body: "content: '\\\\E066';"
  "halflings-shopping-cart":
    prefix: "halflings-shopping-cart"
    body: "content: '\\\\E116';"
  "halflings-signal":
    prefix: "halflings-signal"
    body: "content: '\\\\E018';"
  "halflings-snowflake":
    prefix: "halflings-snowflake"
    body: "content: '\\\\E267';"
  "halflings-sort-by-alphabet-alt":
    prefix: "halflings-sort-by-alphabet-alt"
    body: "content: '\\\\E152';"
  "halflings-sort-by-alphabet":
    prefix: "halflings-sort-by-alphabet"
    body: "content: '\\\\E151';"
  "halflings-sort-by-attributes-alt":
    prefix: "halflings-sort-by-attributes-alt"
    body: "content: '\\\\E156';"
  "halflings-sort-by-attributes":
    prefix: "halflings-sort-by-attributes"
    body: "content: '\\\\E155';"
  "halflings-sort-by-order-alt":
    prefix: "halflings-sort-by-order-alt"
    body: "content: '\\\\E154';"
  "halflings-sort-by-order":
    prefix: "halflings-sort-by-order"
    body: "content: '\\\\E153';"
  "halflings-sort":
    prefix: "halflings-sort"
    body: "content: '\\\\E150';"
  "halflings-sortable":
    prefix: "halflings-sortable"
    body: "content: '\\\\E270';"
  "halflings-sound-5-1":
    prefix: "halflings-sound-5-1"
    body: "content: '\\\\E191';"
  "halflings-sound-6-1":
    prefix: "halflings-sound-6-1"
    body: "content: '\\\\E192';"
  "halflings-sound-7-1":
    prefix: "halflings-sound-7-1"
    body: "content: '\\\\E193';"
  "halflings-sound-dolby":
    prefix: "halflings-sound-dolby"
    body: "content: '\\\\E190';"
  "halflings-sound-stereo":
    prefix: "halflings-sound-stereo"
    body: "content: '\\\\E189';"
  "halflings-star-empty":
    prefix: "halflings-star-empty"
    body: "content: '\\\\E007';"
  "halflings-star-half":
    prefix: "halflings-star-half"
    body: "content: '\\\\E263';"
  "halflings-star":
    prefix: "halflings-star"
    body: "content: '\\\\E006';"
  "halflings-stats":
    prefix: "halflings-stats"
    body: "content: '\\\\E185';"
  "halflings-step-backward":
    prefix: "halflings-step-backward"
    body: "content: '\\\\E069';"
  "halflings-step-forward":
    prefix: "halflings-step-forward"
    body: "content: '\\\\E077';"
  "halflings-stop":
    prefix: "halflings-stop"
    body: "content: '\\\\E074';"
  "halflings-subscript":
    prefix: "halflings-subscript"
    body: "content: '\\\\E256';"
  "halflings-subtitles":
    prefix: "halflings-subtitles"
    body: "content: '\\\\E188';"
  "halflings-sunglasses":
    prefix: "halflings-sunglasses"
    body: "content: '\\\\E240';"
  "halflings-sunlight":
    prefix: "halflings-sunlight"
    body: "content: '\\\\E268';"
  "halflings-superscript":
    prefix: "halflings-superscript"
    body: "content: '\\\\E255';"
  "halflings-synchronization":
    prefix: "halflings-synchronization"
    body: "content: '\\\\E299';"
  "halflings-tag":
    prefix: "halflings-tag"
    body: "content: '\\\\E041';"
  "halflings-tags":
    prefix: "halflings-tags"
    body: "content: '\\\\E042';"
  "halflings-tasks":
    prefix: "halflings-tasks"
    body: "content: '\\\\E137';"
  "halflings-tent":
    prefix: "halflings-tent"
    body: "content: '\\\\E217';"
  "halflings-terminal":
    prefix: "halflings-terminal"
    body: "content: '\\\\E254';"
  "halflings-text-background":
    prefix: "halflings-text-background"
    body: "content: '\\\\E243';"
  "halflings-text-color":
    prefix: "halflings-text-color"
    body: "content: '\\\\E242';"
  "halflings-text-height":
    prefix: "halflings-text-height"
    body: "content: '\\\\E050';"
  "halflings-text-size":
    prefix: "halflings-text-size"
    body: "content: '\\\\E241';"
  "halflings-text-width":
    prefix: "halflings-text-width"
    body: "content: '\\\\E051';"
  "halflings-th-large":
    prefix: "halflings-th-large"
    body: "content: '\\\\E010';"
  "halflings-th-list":
    prefix: "halflings-th-list"
    body: "content: '\\\\E012';"
  "halflings-th":
    prefix: "halflings-th"
    body: "content: '\\\\E011';"
  "halflings-thumbs-down":
    prefix: "halflings-thumbs-down"
    body: "content: '\\\\E126';"
  "halflings-thumbs-up":
    prefix: "halflings-thumbs-up"
    body: "content: '\\\\E125';"
  "halflings-tick":
    prefix: "halflings-tick"
    body: "content: '\\\\E262';"
  "halflings-time":
    prefix: "halflings-time"
    body: "content: '\\\\E023';"
  "halflings-tint":
    prefix: "halflings-tint"
    body: "content: '\\\\E064';"
  "halflings-tower":
    prefix: "halflings-tower"
    body: "content: '\\\\E184';"
  "halflings-transfer":
    prefix: "halflings-transfer"
    body: "content: '\\\\E178';"
  "halflings-trash":
    prefix: "halflings-trash"
    body: "content: '\\\\E020';"
  "halflings-tree-conifer":
    prefix: "halflings-tree-conifer"
    body: "content: '\\\\E199';"
  "halflings-tree-deciduous":
    prefix: "halflings-tree-deciduous"
    body: "content: '\\\\E200';"
  "halflings-triangle-bottom":
    prefix: "halflings-triangle-bottom"
    body: "content: '\\\\E252';"
  "halflings-triangle-left":
    prefix: "halflings-triangle-left"
    body: "content: '\\\\E251';"
  "halflings-triangle-right":
    prefix: "halflings-triangle-right"
    body: "content: '\\\\E250';"
  "halflings-triangle-top":
    prefix: "halflings-triangle-top"
    body: "content: '\\\\E253';"
  "halflings-unchecked":
    prefix: "halflings-unchecked"
    body: "content: '\\\\E157';"
  "halflings-upload":
    prefix: "halflings-upload"
    body: "content: '\\\\E027';"
  "halflings-usd":
    prefix: "halflings-usd"
    body: "content: '\\\\E148';"
  "halflings-user":
    prefix: "halflings-user"
    body: "content: '\\\\E008';"
  "halflings-volume-down":
    prefix: "halflings-volume-down"
    body: "content: '\\\\E037';"
  "halflings-volume-off":
    prefix: "halflings-volume-off"
    body: "content: '\\\\E036';"
  "halflings-volume-up":
    prefix: "halflings-volume-up"
    body: "content: '\\\\E038';"
  "halflings-warning-sign":
    prefix: "halflings-warning-sign"
    body: "content: '\\\\E107';"
  "halflings-wrench":
    prefix: "halflings-wrench"
    body: "content: '\\\\E136';"
  "halflings-yen":
    prefix: "halflings-yen"
    body: "content: '\\\\E228';"
  "halflings-zoom-in":
    prefix: "halflings-zoom-in"
    body: "content: '\\\\E015';"
  "halflings-zoom-out":
    prefix: "halflings-zoom-out"
    body: "content: '\\\\E016';"
